
/*
 * datatable: se eliminan los bordes verticales
 */

.tabla tbody td {
  /*border-color: #4B4B4B;*/
  border-color: #878787 !important;
  border-width: 2px !important;
  border-left: none !important;
  border-right: none !important;
}

.tabla thead td {
  /*border-color: #4B4B4B;*/
  border-color: #878787 !important;
  border-width: 2px !important;
  border-left: none !important;
  border-right: none !important;
}

/*
 * treetable: se eliminan los bordes verticales
 */

.tablaArbol tbody td {
  /*border-color: #4B4B4B;*/
  border-color: #878787 !important;
  border-width: 2px !important;
  border-left: none !important;
  border-right: none !important;
}

.tablaArbol thead td {
  /*border-color: #4B4B4B;*/
  border-color: #878787 !important;
  border-width: 2px !important;
  border-left: none !important;
  border-right: none !important;
}

/*
 * datatable: columnas se ajustan al contenido
 */

.tablaAjustada.ui-datatable table, .tablaAjustada.ui-datatable-resizable table {
    table-layout: auto !important;
}

.tablaAjustada.ui-datatable-scrollable table {
    table-layout: fixed !important;
}

/*
 * datatable: no muestra la cabecera de la tabla
 */
.esconder-cabecera-columnas table thead tr {
    display: none;
}

/*ESTILOS DE COLORES*/

.VerdeClaroBack{
    background-color: #00D05E !important;
}

.CelesteOscuroBack{
    background-color: #2DC8FF !important;
}

.CelesteClaroBack{
    background-color: #4CD5FF !important;
}

/*ESTILOS DE PADDING*/

.Padding5px{
    padding: 5px !important;
}

.Padding10px{
    padding: 10px !important;
}

.Padding15px{
    padding: 15px !important;
}

.Padding20px{
    padding: 20px !important;
}

.Padding25px{
    padding: 25px !important;
}