
/*
 * datatable: se eliminan los bordes verticales
 */

/* se eliminan los bordes exteriores */
.tabla{
    border: none;
}

.tabla tbody td {
  /*border-color: #4B4B4B;*/
  border-color: #878787 !important;
  border-width: 1px !important;
  border-left: none !important;
  border-right: none !important;
}

.tabla thead td {
  /*border-color: #4B4B4B;*/
  border-color: #878787 !important;
  border-width: 1px !important;
  border-left: none !important;
  border-right: none !important;
}

.tabla.ui-datatable .ui-datatable-tablewrapper{
    margin: 0px;
}

/* todas las filas de la tabla son de color blanco */
.ui-datatable-odd{
    background-color: white !important;
}

/*
 * treetable: se eliminan los bordes verticales, tipo de borde solido
 */

.tablaArbol table tbody td {
  /*border-color: #4B4B4B;*/
  border-color: #878787 !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-left: none !important;
  border-right: none !important;
}

.tablaArbol table thead td {
  /*border-color: #4B4B4B;*/
  border-color: #878787 !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-left: none !important;
  border-right: none !important;
}

.tablaArbol{
    border: 0px;
}

.tablaArbol.ui-treetable table thead tr th{
    border: 1px solid transparent;
}

.tablaArbol .ui-treetable tfoot td{
    border: none;
    border-top: #439fe0 solid 2px;

}

/* tamaño de triangulo de apertura de nodo */
.tablaArbol.ui-treetable .ui-icon-triangle-1-s{
    background-size: 200% ;
}

/*
 * datatable: columnas se ajustan al contenido
 */

.tablaAjustada.ui-datatable table, .tablaAjustada.ui-datatable-resizable table {
    table-layout: auto !important;
}

.tablaAjustada.ui-datatable-scrollable table {
    table-layout: fixed !important;
}

/*
 * treetable: columnas se ajustan al contenido
 */

.tablaAjustada.ui-treetable table, .tablaAjustada.ui-treetable-resizable table {
    table-layout: auto !important;
}

.tablaArbol table td{
    white-space:nowrap;
}

/*
 * datatable: color del encabezado.
*/

.TablaColorEncabezado thead th{
    background-color: #439fe0 !important;
    color: #ffffff !important;
}

/*
 * datatable: estilo del paginador
*/

.ui-paginator {
    color: #439fe0 !important; ;
}

.ui-paginator > *{
    color: #439fe0 !important;
}

/*.ui-paginator > span{
    background-color: #ffffff !important;
}*/

.ui-paginator .ui-paginator-page{
    color: #439fe0 !important;
}

.ui-paginator-bottom{
    background-color: #ffffff !important;
    color: #439fe0 !important; ;
    border: 0px !important;
    border-top: 3px #439fe0 solid !important;
}

/**********/

.ui-paginator-pages .ui-paginator-page{
    background-color: White !important;
    color: #439fe0 !important;
}

.ui-paginator-pages .ui-state-active{
    background-color: White !important;
    color: #439fe0 !important;
}
.ui-paginator-pages .ui-state-hover{
    background-color: gray !important;
    color: #439fe0 !important;
}

/****************************/

.ui-paginator-first, .ui-paginator-prev, .ui-paginator-next, .ui-paginator-last{
    background-color: #439fe0 !important;
}

/****************************/

.ui-paginator-pages span{
    background-color: White !important;
    color: #439fe0 !important;
}

.ui-paginator .ui-state-active,
.ui-paginator .ui-state-hover,
.ui-paginator .ui-paginator-pages .ui-state-active,
.ui-paginator .ui-paginator-pages .ui-state-hover {
    color: #439fe0 !important;
    background-repeat: no-repeat;
    border-bottom: solid 3px #ffffff;
    font-size: 16px;
    border-radius: 0px !important;
}

/*
 * datatable: no muestra la cabecera de la tabla
 */
.esconder-cabecera-columnas table thead tr {
    display: none;
}

/*ESTILOS DE COLORES PARA LETRA*/

.Celeste{
    color: #439fe0 !important;
}

.VerdeAzuladoOscuro{
    color: #2898C5 !important;
}

.Gris1{
    color: #394249 !important;
}

.Gris2{
    color: #667382 !important;
}

.Gris3{
    color: #84888B !important;
}

.Gris4{
    color: #BCC3C8 !important;
}

.VerdePlanta{
    color: #9BBB59 !important;
}

/*ESTILOS DE COLORES PARA FONDO*/

.CelesteBack{
    background-color: #439fe0 !important;
}

.AzulBack{
    background-color: #0288d1 !important;
}

.VerdeClaroBack{
    background-color: #00D05E !important;
}

.VerdePlantaBack{
    background-color: #9BBB59 !important;
}

.CelesteOscuroBack{
    background-color: #2DC8FF !important;
}

.CelesteClaroBack{
    background-color: #4CD5FF !important;
}

.AzulVerdosoOscuroBack{
    background-color: #2898C5 !important;
}

.VerdeAzuladoBack{
    background-color: #4BACC6 !important;
}

.VerdeAzuladoOscuroBack{
    background-color: #31859B !important;
}

.VerdeAzuladoClaroBack{
    background-color: #4BACC6 !important;
}

.Gris1Back{
    background-color: #394249 !important;
}

.Gris2Back{
    background-color: #667382 !important;
}

.Gris3Back{
    background-color: #84888B !important;
}

.Gris4Back{
    background-color: #BCC3C8 !important;
}

.BordoBack{
    background-color: #953735 !important;
}

/* ESTILOS DE COLORES PARA BOTONES */

.Gris1Button {
    background-color: #394249;
}

/*ESTILOS DE PADDING*/

.Padding0px{
    padding: 0px !important;
}

.Padding5px{
    padding: 5px !important;
}

.Padding10px{
    padding: 10px !important;
}

.Padding15px{
    padding: 15px !important;
}

.Padding20px{
    padding: 20px !important;
}

.Padding25px{
    padding: 25px !important;
}

.PaddingArribaAbajo5px {
    padding: 5px 0px 5px 0px !important;
}

.PaddingArribaAbajo10px {
    padding: 10px 0px 10px 0px !important;
}

.PaddingArribaAbajo15px {
    padding: 15px 0px 15px 0px !important;
}

.PaddingArribaAbajo20px {
    padding: 20px 0px 20px 0px !important;
}

.PaddingIzquierdoDerecho5px{
    padding: 0px 5px 0px 5px !important;
}

.PaddingIzquierdoDerecho10px{
    padding: 0px 10px 0px 10px !important;
}

.PaddingCuadroChico {
    padding: 43px 0px 43px 0px !important;
}

/* MENU */

.BotonMenu button{
    background-color: #00D05E ;
    color: #ffffff ;
}

.MargenArriba5pxAbajo10px {
    margin: 5px 0px 10px;
}

/*SIN BORDE*/

.SinBorde{
    border: none;
}

/*LOGIN*/

.fondoPantalla{

    /*background: url(../img/laboratorio.jpg) no-repeat center center fixed;*/
    background:url("#{resource['img:laboratorio.jpg']}") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.barraTransparenteAbajo {

    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;

    background: -webkit-linear-gradient(top, rgba(2, 136, 209, 0.5) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(2, 136, 209, 0.5) 0%, rgba(0, 0, 0, 0.6) 100%);
    -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.2s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.2s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.2s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    -webkit-transform: scale(1);
    transform: scale(1);

}

.logoBarraAbajo {
    float: right;

    /*width: inherit;  *//* This makes the next two lines work in IE8. */
    max-width: 100%; /* Add !important if needed. */
    height: auto;
    max-height: 150px;
}

.CardLogin{
    /*width: 20%;*/
    position: relative;
    float: right;
    right: 2%;
    top: 10%;

    background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.5) 0%, rgba(0, 0, 0, 0.6) 100%);
    /*background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5) 0%, rgba(0, 0, 0, 0.6) 100%);*/
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.57) 0%, rgba(0, 0, 0, 0.86) 100%);
    -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.2s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.2s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.2s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.BordeNegro{
    border: solid black 1px;
}

.cajaTextoLogin{
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    color: #439fe0 !important;
    font-weight: bold;
}

.cajaTextoLogin.ui-state-focus, .cajaTextoLogin.ui-state-hover{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.80);
    color: black !important;
    font-weight: bold;
}

.divVinculacionTecnologica{
    /*width: 20%;*/
    position: relative;
    float: left;
    left: 2%;
    top: 40%;

}

.logoVinculacionTecnologica{
    float: right;

    /*width: inherit;  *//* This makes the next two lines work in IE8. */
    max-width: 100%; /* Add !important if needed. */
    height: auto;
    max-height: 200px;
}